*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-img{
    height: 300px;
    border-radius: 10px;
    border: 2px solid #000;
   
}

.slide-box{
    position: relative;
}

.left-arrow{
    height: 40px;
    position: absolute;
    top: 120px;
    left: 20px;  
    color: #ffffff;
    cursor: pointer;
}

.left-arrow:hover{
    border-radius: 50%;
    background-color: #ffffff;
     padding: 3px;
     transition: 0.2s;
}


.right-arrow{
    height: 40px;
    position: absolute;
    top: 120px;
    right: 20px;  
    color: #ffffff;
    cursor: pointer;
}

.right-arrow:hover{
    border-radius: 50%;
    background-color: #ffffff;
     padding: 3px;
     transition: 0.2s;
}